data-intelligence.json
{
  "name": "Data Intelligence",
  "nodes": [
    {
      "id": "Sticky_Overview",
      "name": "Sticky_Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        40
      ],
      "parameters": {
        "content": "DATA INTELLIGENCE\\nInput: a public sample schema (Chinook or Northwind SQLite) plus a business question.\\n3 steps: parse schema, plan query, generate SQL.\\nValidation step BLOCKS any write/DDL statement (read-only by design), then retries 3x on failure.\\nAn analyst must approve the query before anything runs it against real data.",
        "height": 200,
        "width": 620,
        "color": 4
      }
    },
    {
      "id": "Manual_Trigger",
      "name": "Manual_Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        300
      ],
      "parameters": {}
    },
    {
      "id": "Define_Input",
      "name": "Define_Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "Define_Input-0",
              "name": "schemaDescription",
              "value": "={{$json.schemaDescription}}",
              "type": "string"
            },
            {
              "id": "Define_Input-1",
              "name": "businessQuestion",
              "value": "={{$json.businessQuestion}}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "Step1_Parse_Schema",
      "name": "Step1_Parse_Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Parse this dataset description into tables, columns, and relationships. Return JSON only.\\n\\n' + $json.schemaDescription }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "Step2_Plan_Query",
      "name": "Step2_Plan_Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Given this business question and parsed schema, outline a step-by-step query plan. Return JSON only.\\n\\n' + JSON.stringify($json) + '\\n\\nQuestion: ' + $json.businessQuestion }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "Step3_Generate_SQL",
      "name": "Step3_Generate_SQL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Generate the final read-only SQL query for this plan. No INSERT/UPDATE/DELETE/DROP. Return JSON only with a sql field.\\n\\n' + JSON.stringify($json) }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "DataIntel_Validate_Schema",
      "name": "DataIntel_Validate_Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nlet parsed, valid = true, reason = '';\ntry {\n  const text = $input.first().json.content?.[0]?.text || $input.first().json.body?.content?.[0]?.text || '{}';\n  parsed = JSON.parse(text);\n  const sql = (parsed.sql || '').toUpperCase();\n  const forbidden = ['INSERT','UPDATE','DELETE','DROP','ALTER','TRUNCATE'];\n  if (!parsed.sql) { valid = false; reason = 'missing sql field'; }\n  else if (forbidden.some(k => sql.includes(k))) { valid = false; reason = 'query contains a write/DDL statement'; }\n} catch (e) { valid = false; reason = 'invalid JSON: ' + e.message; parsed = null; }\nreturn [{ json: { valid, reason, queryPlan: parsed } }];\n"
      },
      "notes": "Parses the last step's JSON, checks it against the expected schema, sets valid=true/false."
    },
    {
      "id": "DataIntel_Schema_Valid",
      "name": "DataIntel_Schema_Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "DataIntel_Schema_Valid-cond",
              "leftValue": "={{$json.valid}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "DataIntel_Log_Validation_Failure",
      "name": "DataIntel_Log_Validation_Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { status: 'validation_failed', reason: $json.reason, timestamp: new Date().toISOString() } }];"
      },
      "notes": "Terminal node: 3 retries already happened at the HTTP Request level. This logs the final failure for manual review."
    },
    {
      "id": "DataIntel_Notify_Reviewer",
      "name": "DataIntel_Notify_Reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'New SQL query plan pending review: ' + JSON.stringify($json.queryPlan).slice(0,300) }) }}"
      },
      "notes": "Posts the pending recommendation + the Wait node's resume URL to a free Discord webhook channel."
    },
    {
      "id": "DataIntel_Wait_For_Approval",
      "name": "DataIntel_Wait_For_Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2120,
        300
      ],
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{$workflow.id}}-DataIntel_Wait_For_Approval"
      },
      "webhookId": "DataIntel_Wait_For_Approval-webhook",
      "notes": "Pauses here until the human reviewer's approve/reject click POSTs back to this node's webhook URL."
    },
    {
      "id": "DataIntel_Approved",
      "name": "DataIntel_Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2380,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "DataIntel_Approved-cond",
              "leftValue": "={{$json.body.decision}}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "DataIntel_Log_Rejected",
      "name": "DataIntel_Log_Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { status: 'rejected_by_human', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "DataIntel_Log_Approved_Output",
      "name": "DataIntel_Log_Approved_Output",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "operation": "write",
        "fileName": "={{'/data/data-intelligence/output-' + Date.now() + '.json'}}",
        "dataPropertyName": "data"
      }
    }
  ],
  "connections": {
    "Manual_Trigger": {
      "main": [
        [
          {
            "node": "Define_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define_Input": {
      "main": [
        [
          {
            "node": "Step1_Parse_Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step1_Parse_Schema": {
      "main": [
        [
          {
            "node": "Step2_Plan_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step2_Plan_Query": {
      "main": [
        [
          {
            "node": "Step3_Generate_SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step3_Generate_SQL": {
      "main": [
        [
          {
            "node": "DataIntel_Validate_Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataIntel_Validate_Schema": {
      "main": [
        [
          {
            "node": "DataIntel_Schema_Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataIntel_Schema_Valid": {
      "main": [
        [
          {
            "node": "DataIntel_Notify_Reviewer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DataIntel_Log_Validation_Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataIntel_Notify_Reviewer": {
      "main": [
        [
          {
            "node": "DataIntel_Wait_For_Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataIntel_Wait_For_Approval": {
      "main": [
        [
          {
            "node": "DataIntel_Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataIntel_Approved": {
      "main": [
        [
          {
            "node": "DataIntel_Log_Approved_Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DataIntel_Log_Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "portfolio-ai-agent-suite"
  }
}