requirements-intelligence.json
{
  "name": "Requirements Intelligence",
  "nodes": [
    {
      "id": "Sticky_Overview",
      "name": "Sticky_Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        40
      ],
      "parameters": {
        "content": "REQUIREMENTS INTELLIGENCE\\nInput: public product feedback (App Store / Play Store reviews, GitHub issues).\\n5 steps: extract, cluster, prioritize, draft user stories, acceptance criteria.\\nEach HTTP node retries 3x (rate limit / transient error handling).\\nFinal output is schema-validated, then a PM must approve via Discord before it's logged. AI never finalizes.",
        "height": 200,
        "width": 620,
        "color": 4
      }
    },
    {
      "id": "Manual_Trigger",
      "name": "Manual_Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        300
      ],
      "parameters": {}
    },
    {
      "id": "Define_Input",
      "name": "Define_Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "Define_Input-0",
              "name": "feedbackText",
              "value": "={{$json.feedbackText}}",
              "type": "string"
            },
            {
              "id": "Define_Input-1",
              "name": "source",
              "value": "app_store_reviews",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "Step1_Extract_Requirements",
      "name": "Step1_Extract_Requirements",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Extract discrete requirement statements from this feedback. Return JSON array only.\\n\\n' + $json.feedbackText }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "Step2_Cluster_Gaps",
      "name": "Step2_Cluster_Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Cluster these extracted requirements into gap themes. Return JSON only.\\n\\n' + JSON.stringify($json) }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "Step3_Prioritize_Gaps",
      "name": "Step3_Prioritize_Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Score and rank each gap theme by impact and frequency. Return JSON only.\\n\\n' + JSON.stringify($json) }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "Step4_Draft_User_Stories",
      "name": "Step4_Draft_User_Stories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Convert each prioritized gap into a user story (As a / I want / So that). Return JSON only.\\n\\n' + JSON.stringify($json) }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "Step5_Define_Acceptance_Criteria",
      "name": "Step5_Define_Acceptance_Criteria",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model: 'claude-sonnet-4-6', max_tokens: 1500, messages: [{ role: 'user', content: 'Add Gherkin-style acceptance criteria to each user story. Return JSON only.\\n\\n' + JSON.stringify($json) }]}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "notes": "Retries 3x on failure (covers rate limits / transient API errors). See docs/decisions-and-tradeoffs.md."
    },
    {
      "id": "ReqIntel_Validate_Schema",
      "name": "ReqIntel_Validate_Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nlet parsed, valid = true, reason = '';\ntry {\n  const text = $input.first().json.content?.[0]?.text || $input.first().json.body?.content?.[0]?.text || '{}';\n  parsed = JSON.parse(text);\n  if (!Array.isArray(parsed) && !parsed.stories) { valid = false; reason = 'missing stories array'; }\n} catch (e) { valid = false; reason = 'invalid JSON: ' + e.message; parsed = null; }\nreturn [{ json: { valid, reason, stories: parsed } }];\n"
      },
      "notes": "Parses the last step's JSON, checks it against the expected schema, sets valid=true/false."
    },
    {
      "id": "ReqIntel_Schema_Valid",
      "name": "ReqIntel_Schema_Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2120,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "ReqIntel_Schema_Valid-cond",
              "leftValue": "={{$json.valid}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ReqIntel_Log_Validation_Failure",
      "name": "ReqIntel_Log_Validation_Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { status: 'validation_failed', reason: $json.reason, timestamp: new Date().toISOString() } }];"
      },
      "notes": "Terminal node: 3 retries already happened at the HTTP Request level. This logs the final failure for manual review."
    },
    {
      "id": "ReqIntel_Notify_Reviewer",
      "name": "ReqIntel_Notify_Reviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: 'New user stories pending review: ' + JSON.stringify($json.stories).slice(0,300) }) }}"
      },
      "notes": "Posts the pending recommendation + the Wait node's resume URL to a free Discord webhook channel."
    },
    {
      "id": "ReqIntel_Wait_For_Approval",
      "name": "ReqIntel_Wait_For_Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "resume": "webhook",
        "webhookSuffix": "={{$workflow.id}}-ReqIntel_Wait_For_Approval"
      },
      "webhookId": "ReqIntel_Wait_For_Approval-webhook",
      "notes": "Pauses here until the human reviewer's approve/reject click POSTs back to this node's webhook URL."
    },
    {
      "id": "ReqIntel_Approved",
      "name": "ReqIntel_Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "ReqIntel_Approved-cond",
              "leftValue": "={{$json.body.decision}}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ReqIntel_Log_Rejected",
      "name": "ReqIntel_Log_Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { status: 'rejected_by_human', timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "ReqIntel_Log_Approved_Output",
      "name": "ReqIntel_Log_Approved_Output",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3160,
        300
      ],
      "parameters": {
        "operation": "write",
        "fileName": "={{'/data/requirements-intelligence/output-' + Date.now() + '.json'}}",
        "dataPropertyName": "data"
      }
    }
  ],
  "connections": {
    "Manual_Trigger": {
      "main": [
        [
          {
            "node": "Define_Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define_Input": {
      "main": [
        [
          {
            "node": "Step1_Extract_Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step1_Extract_Requirements": {
      "main": [
        [
          {
            "node": "Step2_Cluster_Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step2_Cluster_Gaps": {
      "main": [
        [
          {
            "node": "Step3_Prioritize_Gaps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step3_Prioritize_Gaps": {
      "main": [
        [
          {
            "node": "Step4_Draft_User_Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step4_Draft_User_Stories": {
      "main": [
        [
          {
            "node": "Step5_Define_Acceptance_Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step5_Define_Acceptance_Criteria": {
      "main": [
        [
          {
            "node": "ReqIntel_Validate_Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReqIntel_Validate_Schema": {
      "main": [
        [
          {
            "node": "ReqIntel_Schema_Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReqIntel_Schema_Valid": {
      "main": [
        [
          {
            "node": "ReqIntel_Notify_Reviewer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ReqIntel_Log_Validation_Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReqIntel_Notify_Reviewer": {
      "main": [
        [
          {
            "node": "ReqIntel_Wait_For_Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReqIntel_Wait_For_Approval": {
      "main": [
        [
          {
            "node": "ReqIntel_Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReqIntel_Approved": {
      "main": [
        [
          {
            "node": "ReqIntel_Log_Approved_Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ReqIntel_Log_Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "portfolio-ai-agent-suite"
  }
}